:root {
  --height-main: 550px;
  --width-max: 450px;

  --border-size-board: 1px;
  --border-size-medium: 2px;
  --border-radius: 6px;

  --color-font-border-blue: skyblue;
  --color-font-border-white: whitesmoke;
}

/* CSS reset */
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* JS block active */
.freeze,
.current {
  background-color: pink;
}

/* top */
#top {
  background-color: skyblue;
  height: 55px;
}
#top .section {
  justify-content: space-between;
  border-bottom: 5px solid white;
}
.favicon {
  margin-left: 30px;
}
.go__menu {
  margin-right: 30px;
}
.section {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

#main .section {
  border-top: none;
}

.favicon,
.go__menu {
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: white;
}
.go__menu:hover {
  -webkit-text-stroke: 2px var(--color-font-border-white);
  transform: rotate(90deg);
  font-size: 31px;
  color: var(--color-font-border-blue);
  transition: all 300ms ease-in;
}
.menu__item:hover {
  -webkit-text-stroke: 2px var(--color-font-border-white);
  color: var(--color-font-border-blue);
  transition: all 300ms ease;
  font-size: 65px;
}

/* menu */
#menu {
  max-height: 0px;
  overflow-y: hidden;
  transition: all 300ms ease-in-out;
  justify-content: center;
  position: absolute;
  width: 100%;
}
#menu.active {
  max-height: 550px;
}
.menu__box {
  width: 500px;
  height: 550px;
  background-color: skyblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__items {
  margin-bottom: 40px;
}
.menu__item {
  width: 310px;
  height: 120px;
  line-height: 120px;
  font-size: 60px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  border-bottom: 5px solid whitesmoke;
  margin: 0 auto;
  cursor: pointer;
}

/* main */
#main {
  /* #menu */
  display: relative;
  background-color: skyblue;
}
#main .section {
  height: var(--height-main);
  justify-content: center;
}

/* information css */
.info__title {
  color: whitesmoke;
}
.info__title,
.info__content {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.info__content {
  height: 27px;
  color: skyblue;
  background-color: whitesmoke;
  border-radius: var(--border-radius);
}

/* left */
.left {
  width: 100px;
  margin-right: 10px;
  margin-top: 53px;
}
/* hold */
#hold {
  width: 100px;
  height: 130px;
  /* background-color: lightgrey; */
  border-radius: var(--border-radius);
}
#hold .info__content {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}
/* information */
.information {
  margin-top: 80px;
  /* background-color: lightgrey; */
  border-radius: var(--border-radius);
}
.information ul {
  display: flex;
  flex-direction: column;
}
.information li {
  margin: 8px;
}
/* score,line effect */
#score.effect,
#line.effect {
  font-size: 25px;
  transition: all 300ms ease-out;
}

/* right */
.right {
  width: 100px;
  margin-left: 10px;
  margin-top: 50px;
}
/* next block */
.next__block {
  /* background-color: lightgrey; */
  border-radius: var(--border-radius);
  height: 303px;
}
.next__block .info__content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.next li {
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  height: 80px;
  margin-bottom: 5px;
}

/* center */
/* board */
#board {
  border: 4px solid white;
  border-radius: var(--border-radius);
}
#board ul:nth-child(n + 1):nth-child(-n + 4) {
  display: none;
}
#board ul {
  display: flex;
}
#board li {
  border: 1px solid whitesmoke;
  width: 20px;
  height: 20px;
}
#board.effect {
}
/* timer */
#timer {
  height: 50px;
  /* background-color: whitesmoke; */
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: whitesmoke;
}
