:root {
  --pc-height-main: 600px;
  --mobile-height-main: 500px;
  --width-max: 450px;

  --border-size-board: 1px;
  --border-size-medium: 2px;
  --border-radius: 6px;

  --color-font-border-blue: skyblue;
  --color-font-border-white: whitesmoke;
}

/* CSS reset */
html,
body {
  height: 100%;
  overflow: hidden;
}
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* JS block active */
.freeze,
.current {
  background-color: pink;
}

/* top */
#top {
  background-color: skyblue;
  height: 55px;
}
#top .section {
  justify-content: space-between;
  border-bottom: 5px solid white;
}
.favicon {
  margin-left: 30px;
}
.go__menu {
  margin-right: 30px;
}
.section {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  border-left: 5px solid white;
  border-right: 5px solid white;
  position: relative;
}
#main .section {
  border-top: none;
}

.favicon,
.go__menu {
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: white;
  transform: rotate(0deg);
  transition: all 300ms ease-in;
}

.menu__item:hover {
  -webkit-text-stroke: 2px var(--color-font-border-white);
  color: rgb(241, 183, 193);
  transition: all 300ms ease;
  font-size: 65px;
}
.go__menu.active {
  -webkit-text-stroke: 2px var(--color-font-border-white);
  transform: rotate(90deg);
  font-size: 40px;
  color: rgb(241, 183, 193);
  transition: all 300ms ease-in;
}

/* menu */
#menu {
  max-height: 0px;
  overflow-y: hidden;
  transition: all 300ms ease-in-out;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  z-index: 1;
}
#menu.active {
  max-height: 550px;
  border-bottom: 5px solid whitesmoke;
}
.menu__box {
  height: 550px;
  background-color: skyblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__items {
  margin-bottom: 40px;
}
.menu__item {
  width: 310px;
  height: 120px;
  line-height: 120px;
  font-size: 60px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  border-bottom: 5px solid whitesmoke;
  margin: 0 auto;
  cursor: pointer;
}

/* main */
#main {
  /* #menu */
  height: 100%;
  position: relative;
  background-color: skyblue;
}
#main .section {
  justify-content: center;
  height: 100%;
}

/* information css */
.info__title {
  color: whitesmoke;
}
.info__title,
.info__content {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  cursor: default;
}
.info__content {
  height: 27px;
  color: skyblue;
  background-color: whitesmoke;
  border-radius: var(--border-radius);
}

/* blocks */
.info__content {
  position: relative;
}
.next li {
  position: relative;
}
img {
  width: 50px;
  position: absolute;
  right: 50%;
  top: 50%;
  left: 17px;
  top: 25px;
}
.img {
  transition: all 300ms ease;
}
.img.active {
  width: 40px;
  transition: all 300ms ease;
}
/* left */
.left {
  width: 100px;
  margin-right: 10px;
  margin-top: 53px;
}
/* hold */
#hold {
  width: 100px;
  height: 130px;
  border-radius: var(--border-radius);
}
#hold .info__content {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  transition: all 300ms ease;
  cursor: pointer;
}
#hold .info__content.active {
  width: 100px;
  height: 100px;
  transition: all 300ms ease;
}

/* information */
.information {
  margin-top: 80px;
  border-radius: var(--border-radius);
}
.information ul {
  display: flex;
  flex-direction: column;
}
.information li {
  margin: 8px;
}
/* score,line effect */
#score.effect,
#line.effect {
  font-size: 25px;
  transition: all 300ms ease-out;
}

/* right */
.right {
  width: 100px;
  margin-left: 10px;
  margin-top: 50px;
}
/* next block */
.next__block {
  /* background-color: lightgrey; */
  border-radius: var(--border-radius);
  height: 303px;
}
.next__block .info__content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.next li {
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  height: 80px;
  margin-bottom: 5px;
}

/* center */
/* board */
#board {
  border: 4px solid white;
  border-radius: var(--border-radius);
}
#board ul:nth-child(n + 1):nth-child(-n + 4) {
  display: none;
}
#board ul {
  display: flex;
}
#board li {
  border: 1px solid whitesmoke;
  width: 20px;
  height: 20px;
}
#mobile {
  display: none;
}

/* timer */
#timer {
  height: 50px;
  /* background-color: whitesmoke; */
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: whitesmoke;
}

@media screen and (max-width: 510px) {
  /* controller */
  #mobile {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 0;
    max-height: 150px;
    margin-bottom: 10px;
  }
  .mobile {
    justify-content: space-around;
    display: flex;
  }
  .icon {
    font-size: 60px;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
  }
  .icon i.active {
    color: rgb(241, 183, 193);
    -webkit-text-stroke: 2px var(--color-font-border-white);
  }
  .hard__down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .arrow__btn {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .arrow__center {
    display: flex;
  }
  .arrow__left {
    margin-right: 35px;
  }
  .arrow__right {
    margin-left: 35px;
  }

  /* menu */
  .favicon i,
  .go__menu i {
    font-size: 30px;
    line-height: 25px;
  }

  #menu.active {
    max-height: 495px;
  }
  .menu__box {
    height: 495px;
  }
  .menu__item {
    font-size: 40px;
    width: 250px;
    height: 100px;
  }
  .menu__item:hover {
    font-size: 50px;
  }
  .menu__item.active {
    font-size: 50px;
    transition: all 300ms ease-in;
    -webkit-text-stroke: 2px var(--color-font-border-white);
    color: rgb(241, 183, 193);
  }
  /* board */
  #board {
    border-width: 3px;
  }
  #board li {
    width: 13px;
    height: 13px;
  }
  /* timer */
  #timer {
    height: 40px;
    font-size: 30px;
  }
  /* left */

  .left {
    margin: 0;
    padding: 0;
    max-width: 70px;
  }
  .info__title,
  .info__content {
    font-size: 15px;
  }
  .info__content {
    margin: 0;
    height: 22px;
    line-height: 22px;
  }
  #hold .info__content {
    max-width: 54px;
    max-height: 54px;
  }
  #hold .info__title {
    margin-bottom: 8px;
  }
  #hold {
    max-width: 70px;
    margin-top: 37px;
  }
  .hold {
    margin: 0 auto;
  }
  .information {
    margin: 0;
  }
  .information ul {
    margin-top: 20px;
  }
  .information li {
    margin-top: 0;
  }
  /* right */
  .right {
    margin-top: 35px;
    margin-left: 0;
    padding: 0;
    max-width: 70px;
  }
  .next li {
    max-height: 54px;
  }
  img {
    width: 35px;
    left: 10px;
    top: 16px;
  }
}
