:root {
  --color-board: rgba(0, 0, 0, 0.3);
  --color-dark-grey: rgba(0, 0, 0, 0.6);
  --color-underdark-grey: rgba(0, 0, 0, 0.4);
  --color-medium-grey: rgba(0, 0, 0, 0.3);
  --color-light-grey: rgba(0, 0, 0, 0.1);
}

/* CSS reset */
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* section */
.section {
  max-width: 1200px;
  margin: auto;
}

/* main */

/* real-time */

.components {
  width: 450px;
  margin: auto;
}
.main {
  display: flex;
  justify-content: space-between;
}
/* hidden ceiling */
.above {
  width: 450px;
  height: 88px;
  position: fixed;
  background-color: white;
  z-index: 1;
}
/* timer */
#timer {
  width: 100%;
  height: 50px;
  justify-content: space-between;
  margin: auto;
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

/* board */
#board {
  max-width: 250px;
}
#board ul {
  display: flex;
}
#board li {
  border: 1px solid var(--color-board);
  width: 20px;
  height: 20px;
}

/* level */
#left {
  width: 100px;
}
.information {
  margin-top: 356.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 150px;
  border: 1px solid var(--color-medium-grey);
  border-radius: 7px;
  padding: 10px 0;
}
.space {
  width: 80px;
  height: 40px;
  margin-left: 10px;
}
.info_title {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.info_content {
  font-size: 12px;
  text-align: center;
  border: 1px solid var(--color-medium-grey);
  border-radius: 7px;
}

/* next blocks */
#right {
  width: 100px;
}
.next__blocks {
  margin-top: 110px;
  border: 1px solid var(--color-medium-grey);
  border-radius: 7px;
  width: 100px;
  padding: 10px 0;
}
.next__block__board {
  width: 88px;
  height: 180px;
  border: 1px solid var(--color-medium-grey);
  border-radius: 7px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.next__block {
  height: 80px;
  margin-top: 10px;
}
.next__block ul {
  display: flex;
}
.next__block li {
  width: 20px;
  height: 20px;
}

/* menu */
#top {
  border-bottom: 6px solid var(--color-underdark-grey);
}
.top {
  max-width: 550px;
  display: flex;
  height: 45px;
  margin-bottom: 10px;
  margin: 0 auto;
  justify-content: flex-end;
}

.menu i {
  font-size: 30px;
  color: var(--color-dark-grey);
}

/* mobile */
.bottom {
  display: none;
}

/* freeze */
.freeze,
.current {
  background-color: pink;
}

@media screen and (max-width: 500px) {
  .above {
    right: 35px;
    width: 170px;
    height: 85px;
  }
  .components {
    width: 100%;
    margin: 0;
  }
  #left {
    display: none;
  }
  .main {
    padding: 0 35px;
  }
  .next__blocks {
    margin-top: 183px;
  }
  #board li {
    border: 1px solid var(--color-board);
    width: 15px;
    height: 15px;
  }
  #timer {
    font-size: 30px;
  }
  .bottom {
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    height: 160px;
  }

  .information {
    justify-content: unset;
    width: 80px;
    height: 158px;
    padding: 0;
    padding-left: 1px;
    margin: 0;
  }
  .space {
    width: 70px;
    height: 35px;
    margin: 7.5px 0;
    margin-left: 4px;
  }
  .key__pad {
    border: 1px solid var(--color-medium-grey);
    border-radius: 7px;
    width: 250px;
    display: flex;
  }
  .arrow__left,
  .arrow__right,
  .arrow__down,
  .spaceBar i {
    font-size: 50px;
  }
  .arrow {
    margin-top: 20px;
    margin-left: 25px;
    text-align: center;
  }
  .rotate {
    line-height: 160px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
  }
}
